# App
PORT=3001
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/dashboard-analitik

# JWT
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Super Admin (seed)
SUPER_ADMIN_EMAIL=admin@dashboard.com
SUPER_ADMIN_PASSWORD=Admin123!
